<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd" backupGlobals="false" bootstrap="./vendor/autoload.php" cacheResult="false" colors="false" displayDetailsOnTestsThatTriggerWarnings="true" stopOnFailure="false">
  <coverage>
    <report>
      <text outputFile="coverage.txt"/>
    </report>
  </coverage>
  <php>
    <ini name="date.timezone" value="UTC"/>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
    <ini name="error_reporting" value="E_ALL"/>
    <env name="POSTGRES_HOST" value="127.0.0.1"/>
    <env name="POSTGRES_PORT" value="15432"/>
    <env name="POSTGRES_DATABASE" value="postgres"/>
    <env name="POSTGRES_USER" value="postgres"/>
    <env name="POSTGRES_PASSWORD" value="root"/>
    <env name="TARANTOOL_HOST" value="127.0.0.1"/>
    <env name="TARANTOOL_PORT" value="13301"/>
  </php>
  <testsuites>
    <testsuite name="Tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
